@use '@angular/material' as mat;


.page-header h2 {
  color: #202124;
  margin-bottom:0 0 8px;
  font-size: 22px !important;
}

.page-header p {
  color: #202124;
  margin-bottom:0 0 16px;
  font-size: 14px !important;
}




