<div class="page-container">

  <table mat-table [dataSource]="dataSource" class="my-table-container">

    @for (column of columns; track column.columnDef) {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column.columnDef] }}</td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    @if (!dataSource.data.length && !loading) {
      <tr>
        <td [attr.colspan]="displayedColumns.length">{{ emptyMessage }}</td>
      </tr>
    }

  </table>

</div>
