.container {
  height: 100vh;
  width: 250px;
}

mat-sidenav-container {
  padding: 0px !important;

}

mat-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px !important;
      padding-top: 8px !important;

}

::ng-deep a.mat-button:hover {
  border-radius: 12px;
}

::ng-deep .mat-drawer-inner-container {
  background-color: white;
}

.mat-mdc-button,
.mat-mdc-button .mdc-button__ripple {
  border-radius: 0px !important;
}




.nav-item{
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  color: #202124 !important;
  padding: 0px 8px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  vertical-align: middle;
  margin-left: 4px;
  vertical-align: middle;
  margin-left: 5px !important;
  padding-left: 20px !important;
  height: 36px !important;
    mat-icon {
  color: #202124 !important;
    vertical-align: middle; /* centre sur la ligne de texte */
  line-height: 1;          /* supprime l’espace supplémentaire lié à la ligne */
  display: inline-flex;    /* pour centrer parfaitement si nécessaire */
  align-items: center;
  justify-content: center;
  }
}
.nav-item-active {
  width: 100%;
  justify-content: flex-start;
  text-align: left;
    height: 36px !important;

  color: #1977d2 !important;
  padding: 0px 8px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  vertical-align: middle;
  margin-left: 4px !important;
  padding-left: 20px !important;
  background-color: #E3EBF8 !important;
  mat-icon {
    color: #1977d2 !important;
  vertical-align: middle; /* centre sur la ligne de texte */
  line-height: 1;          /* supprime l’espace supplémentaire lié à la ligne */
  display: inline-flex;    /* pour centrer parfaitement si nécessaire */
  align-items: center;
  justify-content: center;


  }
}
.ff {
  position: relative;
  display: block;
  width: 100%;
}

.leftbar {
  width: 4px;
  height: 100%;
  background-color: #1967D2;
  position: absolute;
  left: 0;
  top: 0;
}

mat-icon {
  font-size: 14px !important;
  color: #202124 !important;
    vertical-align: middle; /* centre sur la ligne de texte */
  line-height: 1;          /* supprime l’espace supplémentaire lié à la ligne */
  display: inline-flex;    /* pour centrer parfaitement si nécessaire */
  align-items: center;
  justify-content: center;
}

mat-sidenav {
  border-right: 1px solid #DADCE0 !important;
  width: 100% !important;
  border-radius: 0px !important;
}

.mat-mdc-button-persistent-ripple:hover {
  background-color: #F1F2F2 !important;
}

