.example-spacer {
  flex: 1 1 auto;
  background-color: white !important;
}
mat-toolbar {
  background-color: white !important;
  box-shadow: none !important;
  height: 49px;
  border-bottom: #DADCE0  1px solid !important;
  padding: 0px 8px !important;
}

$primary-color: #004475;


.logotext {
  font-size: 18px;
  font-weight: 500;
  color: #4285F4 !important;
  padding-left: 8px;
}

.logotextdesc {
  font-size: 18px;
  color: #5F6368 !important;
  letter-spacing: 0.7px;
  font-weight: 400;
}